body{
    margin: 1%;
    padding: 0%;
}

header{
    height: 250px;
    border: 2px solid black;
    overflow: auto;
    background: linear-gradient(#c00707, #b3c22c, #24df4c);
}
/* ---------------------------------------------------------------- */
/* College symbol */
header>div img{
    float: left;
    overflow: auto;
    margin: 0;
    height: 220px;
    width: 17%;
}
/* -------------------------------------------------------------------- */
/* Headings in header */
header h1,h2,h3,nav{
    text-align:center;
}
header h1{
    font-size: 250%;
    margin: 0.4em;
}
header h2{
    font-size: 210%;
    margin: 0.4em;
}
header h3{
    font-size: 200%;
    margin: 0.4em;
}
/* ---------------------------------------------------------------- */
/* Links in the navigatiob bar */
header>nav a{
    text-decoration: none;
    font-size: 130%;
    padding: 1% 3%;
    margin: 3%;
    border: solid 1px black;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(92, 0, 92);
    opacity: 0.6;
}
header>nav a:hover{
    opacity: 1;
    font-weight: bolder;
}
.active{
    opacity: 1;
    font-weight: bolder;
    background: linear-gradient(#00FF00, #89d489);
}

/* ---------------------------------------------------------- */
/* Background images */
.s1-bg{
    background-color: #3b3e41;
    background-image: url("../img/bg1.jpg");
    background-size: 100% ;
}   

.s2-bg{
    background-color: #3b3e41;
    background-image: url("../img/bg2.jpg");
    background-size: 100% ;
}

.s3-bg{
    background-color: #3b3e41;
    background-image: url("../img/bg1.jpg");
    background-size: 100% ;
}

.s4-bg{
    background-color: #3b3e41;
    background-image: url("../img/bg2.jpg");
    background-size: 100% ;
}

/* ---------------------------------------------------------------- */
/* Styling the div elements */
main div img{
    height: 50vh;
    width: 60%;  /*  This may need to changed between % and vw*/
    opacity: 0.6;
}
main div{
    text-align: center;
    /* border: 1px solid; */
    width: 45%;
    display: inline-block;
    margin: 1% 2%;
    overflow: auto;
}
main div p{
    color: #FFFFFF;
    text-align: left;
    padding-left: 8%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    font-style: italic;
    font-size: 120%;
    margin: 0.1em;
    visibility: hidden;
}

/* Hovering over div and making the details visible */
main div:hover p{
    visibility: visible;
    opacity: 1;
}
main div:hover img{
    opacity: 1;
}

/* Styling the bottom links */
footer ,footer nav{
    display: inline-blocks;
}
.bottom a{
    text-decoration: none;
    font-size: 120%;
    color: #561212;
    font-weight: 550;
    border: 1px solid black;
    padding: 1% 2%;
    background: linear-gradient(#912929,#a7af36);
    margin: 0vw 1vw;
    text-align: center;
    border-radius: 2vw;
}

.bottom a:hover{
    color: #FFFFFF;
}

/* ------------------------------------------------------ */
/* Styling the group photos */
.group img{
    width: 96%;
    border: 2px dotted green;
    margin: 2%;
}
